<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" id="container">

    <!--///////////////////////////////////////////////////////////////////SEARCH-->
        <div id="searchbar">




                     <div class="dropdown col-sm-4">
                        <i class="fa fa-map-marker"></i>
                        <button class="btn btn-default dropdown-toggle" type="button">
                           <input type="text" placeholder="Subscribed Locations" ng-model="searchStringName" style="border:none; text-align:center">
                           <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                           <li ng-repeat="location in locations" role="presentation" >
                              <a ng-click="setSelectedLocation(location);setOnsiteDataPreGenReport(location);selected($index);" class="test">{{location.name}}</a>
                           </li>
                        </ul>
                     </div>




                     <div class="col-sm-8">
                        <form role="search" ng-submit="showTweeters()">
                           <div class="input-group">
                              <input type="text" class="form-control searchInput" placeholder="Enter a location" ng-model="searchString">
                              <span class="input-group-addon searchButton" id="basic-addon2" ng-click="showTweeters()" ><div class="searchtext">Search</div></span>
                           </div>
                        </form>
                     </div>






                    <!--<div class="dropdown col-lg-3" style="margin:0 auto;">
                           <i class="fa fa-map-marker" style="text-align:right; float:left;font-size:2.25em; color:#6ebe44; margin-right:12px;"></i>
                           <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="float:left;">
                              <input type="text" placeholder="Subscribed Locations" ng-model="searchStringName" style="border:none; text-align:center">
                              <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="float:left;">
                              <li ng-repeat="location in locations" role="presentation" >
                                 <a role="menuitem" tabindex="-1" data-target="#" ng-click="setSelectedLocation(location);setOnsiteDataPreGenReport(location);selected($index)">{{location.name}}</a>
                              </li>
                           </ul>
                    </div>
                    <div class="col-lg-6">
                            <form role="search" ng-submit="showTweeters()">
                                <div class="input-group">
                                    <input type="text" class="form-control searchInput" aria-describedby="basic-addon2" placeholder="Enter a location" ng-model="searchString">
                                    <span class="input-group-addon searchButton" id="basic-addon2" ng-click="showTweeters()" ><div class="searchtext">Search</div></span>
                                </div>
                            </form>
                    </div>-->



        </div>
    <!--SEARCH END-->

    </div>
</div>















<div class="slide" style="height:100px;background-color:#ccc">
   <!--///////////////////////////////////////////////////////////////////MAP-->
   <div id="map-canvas">
     <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
         <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
         <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>
     </ui-gmap-google-map>
   </div>
   <!--MAP END-->
</div>












<!-- <div class="csliderup"><a href="#btm">More</a></div> -->
<!--<div class="clear" style="height:30px;"></div>-->
<!-- <div id="btm"></div> -->




<!--///////////////////////////////////////////////////////////////////CONTENT AREA-->














<div id="contentArea" class="content">
<div class="container">
  <div class="row">





     <tabs>
      <pane
         active="pane.active"
         heading="{{pane.title}}"
         ng-repeat="pane in panes"
      >
         <div ng-include="pane.content"></div>
      </pane>
     </tabs>






        <div class="col-md-12">
          <div class="row ">
           <div class="col-md-10">
           </div>
           <div class="col-md-2">


              <span class="uts">
                <span><a onclick="print();"><i class="fa fa-print"></i><i class="fa fa-plus" style="padding-left:10px;padding-right:10px;font-size:.75em;color:#ccc"></i><i class="fa fa-save"></i></a></span>
                <!--<span><a onclick="saveAs();"><i class="fa fa-envelope"></i></a></span>-->
              </span>


           </div>
          </div>
        </div>




        <div class="col-md-12">
          <div class="row ">
              <div class="locationData" >
                 <h1 class="locationDataTitle" align="center">{{currentLocation.name}}</h1>
                 <span class="subTxt">{{currentLocation.address}}<br>
                 {{currentLocation.gps}}</span>
              </div>
          </div>
        </div>






        <!--///////////////////////////TABS-->
        <div class="col-md-12" >


           <!--/////////////////////////SOCIAL-->
           <tabset justified="false">
           <tab>
              <!--<tab-heading><i class="fa fa-users"></i> Social</tab-heading>-->
              <tab-heading><img alt="Social" src="assets/images/social.png" class="icons" />Social Data</tab-heading>

                 <div class="date">{{dateRange}}</div>

                 <div id="miniTab" class="row">
                   <div class="col-md-6"></div>
                   <div class="col-md-6">
                      <div class="filters_ct" ng-controller="selectFilter">
                          <ul class="boo" ng-repeat="filter in filters" ng-click="select($index)" ng-class="{active: $index===selectedIndex}">
                             <li>
                                <a href="" ng-click="filter.showLast7Days();filter.showLast4Weeks();filter.showLast8Weeks();filter.showLast84days();filter.showLast112days();">{{filter.time}}</a>
                             </li>
                          </ul>
                      </div>
                      <!--<tabset type="pills" class="ng-isolate-scope ng-scope">
                        <tab heading="Last Week" ng-click="showLast7Days()"></tab>
                        <tab heading="Last 4 Weeks" ng-click="showLast4Weeks()"></tab>
                        <tab heading="Last 8 Weeks" ng-click="showLast8Weeks()"></tab>
                        <tab heading="Last 3 Months" ng-click="showLast84days()"></tab>
                        <tab heading="Last 4 Months" ng-click="showLast112days()"></tab>
                     </tabset>-->
                   </div>
                 </div>









                 <div class="row">
                       <div class="col-md-6">
                          <div id="social-highlights-panel" style="position:relative; padding-bottom:10px;">
                            <div ng-controller="AccordionDemoCtrl">
                             <accordion close-others="oneAtATime">
                                <accordion-group is-open="true" >
                                 <accordion-heading>
                                    <h4 style="font-size:20px; margin-bottom:0px;">Social Highlights at a Glance</h4>
                                    <!--<div style="display:block;margin-top:14px;">
                                      <span class="totalBorderA" style="padding-top:11px;border:1px solid #ccc">
                                       <a href="#"><i class="fa fa-angle-right" style="top:0px; font-size:1.35em;"></i>&nbsp;&nbsp;&nbsp;Social Highlights at a Glance</a>
                                      </span>
                                    </div>-->
                                 </accordion-heading>

                                 <div class="well well-lg highlightsPanel" style="margin-top:0px">
                                       <ul style="margin-bottom:0px;">
                                          <li>Weekly Tweet Total: <span class="hLight">{{totalInteractions | number}}</span> interactions <span class="hLight">{{dateRange}}</span></li>
                                          <li>Highest Tweeted Hour: <span class="hLight">{{highestTweetedHour | number}}</span></li>
                                          <li>Highest Tweeted Day: <span class="hLight">{{highestTweetedDay.date}}</span></li>
                                          <li>Total Tweets: <span class="hLight">{{highestTweetedDay.totalTweets}}</span></li>

                                       </ul>
                                 </div>

                                </accordion-group>
                             </accordion>
                            </div>
                          </div>
                       </div>


                       <div class="col-md-3" style="text-align:right;">
                        <br>
                        <!--<div ng-controller="DropdownCtrl">
                             <span dropdown on-toggle="toggled(open)">
                              <span class="totalBorderB" style="padding-top:7px;"><a href="#" href id="simple-dropdown" dropdown-toggle><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Custom Date</a></span>
                                  <div class="dropdown-menu" aria-labelledby="simple-dropdown" style="padding:15px;">

                                    <div ng-controller="DatepickerDemoCtrl">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="input-group">
                                                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                            </div>
                                          </div>

                                          <div class="row">
                                            <div class="col-md-12">
                                                <p class="input-group">
                                                  <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                  <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                  </span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                  </div>
                              </span>
                        </div>-->
                        <!--<div ng-controller="ModalDemoCtrl">
                             <script type="text/ng-template" id="myModalContent.html">
                                 <div class="modal-body">
                                     <style>
                                       .full button span {
                                         background-color: limegreen;
                                         border-radius: 32px;
                                         color: black;
                                       }
                                       .partially button span {
                                         background-color: orange;
                                         border-radius: 32px;
                                         color: black;
                                       }
                                     </style>
                                     <div ng-controller="DatepickerDemoCtrl">
                                         <h4>Custom Date</h4>
                                         <div class="row">
                                             <div class="col-md-6">
                                                 <p class="input-group">
                                                   <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                   <span class="input-group-btn">
                                                     <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                   </span>
                                                 </p>
                                             </div>

                                             <div class="col-md-6">
                                                 <p class="input-group">
                                                   <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                   <span class="input-group-btn">
                                                     <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                   </span>
                                                 </p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                 <div class="modal-footer">
                                     <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                                     <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                                 </div>
                             </script>
                             <span class="totalBorderB" style="padding-top:7px;"><a href="#" ng-click="open()"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Custom Date</a></span>
                        </div>-->
                       </div>
                    </div>










                       <div class="panel panel-default">
                          <div class="panel-body">

                             <div class="row">
                                 <div class="col-md-9">
                                   <h4>Visitors <span class="locateSub">(within 1km)</span></h4>
                                 </div>
                             </div>




                             <div class="row">
                                <div class="col-md-11 col-md-offset-1" style="margin-left:0px;">

                                  <div class="totals">
                                    <span class="totalBorderB">
                                      <span class="visitorsA">{{totalInteractions | number}}</span>
                                    </span>&nbsp;&nbsp;&nbsp;Total Interactions
                                  </div>

                                   <div id="barchart_div"></div>
                                </div>
                             </div>

                          </div>
                       </div>








                       <div class="panel panel-default">
                           <div class="panel-body">
                              <div class="row">
                                   <div class="col-md-4">
                                       <h4>Time Breakdown</h4>
                                   </div>
                                   <div class="col-md-4 col-md-offset-8 ">
                                       <span class="date2"> {{dailyReportDate | capitalize}} </span>
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-md-11 col-md-offset-1" style="margin-left:0px;">
                                       <div id="linechart_div"></div>
                                   </div>
                              </div>
                           </div>
                       </div>

                       <div class="panel panel-default">
                         <div class="panel-body">
                           <div class="row">
                             <div class="col-md-4">
                               <h4>Word cloud</h4>

                             </div>

                           </div>
                           <div class="row">
                             <div class="col-md-12">
                               <div id="wordcloud_div">
                                 <!--<jqcloud words="words" id="cloud-dynamic" auto-resize="true" steps="7" font-size="{from:0.09, to:0.04}"></jqcloud>-->

                                 <jqcloud words="words" id="wordcloud" height="350"  delay="1" steps="7" font-size="{from:0.09, to:0.04}" style="margin: 0 auto"></jqcloud>

                               </div>
                             </div>
                           </div>
                         </div>
                       </div>








                       <!--<div class="panel panel-default">-->

                          <!--<div class="row">-->
                             <!--<div class="col-md-6">-->
                                <!--<h4>Top Nearby Users</h4>-->
                             <!--</div>-->
                             <!--<div class="col-md-6" align="right">-->
                                <!--<button type="button" class="btn btn-success campaignButton" style="margin-top:7px;">Create Campaign</button>-->
                             <!--</div>-->
                          <!--</div>-->


                           <!--<div class="panel-body" style="padding-top:0px;">-->
                                <!--<hr style="margin-bottom:0px; margin-top:30px; color: #000">-->

                                <!--<div id="tweeters_header">-->
                                  <!--<table class="table-striped table table-panel" style="margin-bottom:0px;">-->
                                      <!--<thead>-->
                                         <!--<tr>-->
                                             <!--<th width="3%">#</th>-->
                                             <!--<th width="3%">Profile</th>-->
                                             <!--<th width="10%">Username</th>-->
                                             <!--<th width="40%">Tweets</th>-->
                                             <!--<th width="2%"><i class="fa fa-comment-o" style="font-size:1.5em; color:#6ebe44;"></i></th>-->
                                             <!--&lt;!&ndash;<th width="2%">Followers</th>&ndash;&gt;-->
                                         <!--</tr>-->
                                      <!--</thead>-->
                                  <!--</table>-->
                                <!--</div>-->
                                <!--<div id="tweeters_div">-->
                                    <!--<div class="table-responsive tweetTable" style="height: 400px; overflow: scroll">-->
                                        <!--&lt;!&ndash; Table &ndash;&gt;-->
                                        <!--<table class="table-striped table table-panel">-->
                                            <!--&lt;!&ndash;<thead>-->
                                               <!--<tr>-->
                                                   <!--<th>#</th>-->
                                                   <!--<th>Profile</th>-->
                                                   <!--<th>Username</th>-->
                                                   <!--<th>Bio</th>-->
                                                   <!--<th>#Interactions</th>-->
                                                   <!--<th>Followers</th>-->
                                               <!--</tr>-->
                                            <!--</thead>&ndash;&gt;-->
                                            <!--<tr ng-repeat="tweeter in tweeterResults track by $index">-->
                                               <!--<td width="2%">{{$index+1}}</td>-->
                                               <!--<td width="2%"><img ng-src="{{tweeter.imageUrl}}"></td>-->
                                               <!--<td width="8%">{{tweeter.name}}<br><span style="font-size:.75em">{{tweeter.followers | number}} Followers</span></td>-->
                                               <!--<td width="40%">{{tweeter.description}}</td>-->
                                               <!--<td width="2%">{{tweeter.tweets | number}}</td>-->
                                               <!--&lt;!&ndash;<td width="2%">{{tweeter.followers | number}}</td>&ndash;&gt;-->
                                            <!--</tr>-->
                                        <!--</table>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<hr style="margin-bottom:0px; margin-top:0px; color: #000">-->
                           <!--</div>-->
                       <!--</div>-->
           </tab>
           <!--END SOCIAL TAB-->













           <!--////////////////////////////////////ON-SITE DATA-->
           <tab>
               <tab-heading><img alt="Sensor" src="assets/images/network.png" class="icons" />Sensor Data</tab-heading>

                      <div class="date">{{onsiteWeek}}</div>


                      <div id="miniTab" class="row">
                       <div class="col-md-6"></div>
                       <div class="col-md-6">
                          <div class="filters_ct" ng-controller="selectFilter">
                              <ul class="boo" ng-repeat="filter in filters" ng-click="select($index)" ng-class="{active: $index===selectedIndex}">
                                 <li>
                                    <a href="" ng-click="filter.showLast7Days();filter.showLast4Weeks();filter.showLast8Weeks();filter.showLast84days();filter.showLast112days();">{{filter.time}}</a>
                                 </li>
                              </ul>
                          </div>
                          <!--<tabset type="pills" class="ng-isolate-scope ng-scope">
                            <tab heading="Last Week" ng-click="showLast7Days()"></tab>
                            <tab heading="Last 4 Weeks" ng-click="showLast4Weeks()"></tab>
                            <tab heading="Last 8 Weeks" ng-click="showLast8Weeks()"></tab>
                            <tab heading="Last 3 Months" ng-click="showLast84days()"></tab>
                            <tab heading="Last 4 Months" ng-click="showLast112days()"></tab>
                         </tabset>-->
                       </div>
                     </div>




                      <div class="row">
                          <div class="col-md-6">

                                <div id="social-highlights-panel" style="position:relative; padding-bottom:10px;padding-top:0px;">

                                    <div ng-controller="AccordionDemoCtrl">

                                       <accordion close-others="oneAtATime">


                                         <accordion-group is-open="true" >
                                          <accordion-heading>
                                             <h4 style="font-size:20px; margin-bottom:0px;">On-Site Highlights at a Glance</h4>
                                             <!--<div style="display:block;margin-top:14px;">
                                               <span class="totalBorderA" style="padding-top:11px;border:1px solid #ccc">
                                                <a href="#"><i class="fa fa-angle-right" style="top:0px; font-size:1.35em;"></i>&nbsp;&nbsp;&nbsp;Social Highlights at a Glance</a>
                                               </span>
                                             </div>-->
                                          </accordion-heading>

                                          <div class="well well-lg highlightsPanel" style="margin-top:0px">
                                                <ul style="margin-bottom:0px;">
                                                  <li>Most Visitors in a Week: <span class="hLight">{{onsiteVisitorsWeek | number}}</span> visitors <span class="hLight">{{onsiteWeek}}</span></li>
                                                  <li>Most Visitors in a Day: <span class="hLight">{{onsiteMostVisitedDayTotal | number}}</span> visitors on <span class="hLight">{{onsiteMostVisitedDay}}</span></li>
                                                  <li>Average Visit Duration: <span class="hLight">{{averageVisitDuration}}</span></li>
                                                  <!--<li>Top Visitor by Postal Code: Customer <span class="hLight">{{mostFrequentCustomer}}</span>, postal code <span class="hLight">{{onsiteMostPostalCode}}</span></li>-->
                                                </ul>
                                           </div>

                                         </accordion-group>

                                       </accordion>

                                    </div>

                                </div>
                          </div>




                          <div class="col-md-3" style="text-align:right;">
                               <br>
                               <!--<div ng-controller="DropdownCtrl">

                                   <span dropdown on-toggle="toggled(open)">

                                     <span class="totalBorderB" style="padding-top:7px;"><a href="#" href id="simple-dropdown" dropdown-toggle><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Custom Date</a></span>

                                     <div class="dropdown-menu" aria-labelledby="simple-dropdown" style="padding:15px;">

                                          <div ng-controller="DatepickerDemoCtrl">
                                                <div class="row">
                                                  <div class="col-md-12">
                                                      <p class="input-group">
                                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                        <span class="input-group-btn">
                                                          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                      </p>
                                                  </div>
                                                </div>


                                                <div class="row">
                                                  <div class="col-md-12">
                                                      <p class="input-group">
                                                        <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                        <span class="input-group-btn">
                                                          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                      </p>
                                                  </div>
                                                </div>
                                          </div>

                                     </div>

                                   </span>

                               </div>-->
                            </div>
                     </div>








                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >


                             <div class="row">
                                   <div class="col-md-12">
                                      <h4>Visitors <span class="locateSub">(Last Week)</span></h4>
                                   </div>

                             </div>



                              <div class="row">
                                <div class="col-lg-6">

                                    <div style="float:left; margin-right:20px;">
                                       <div class="totals">
                                         <span class="totalBorderB">
                                           <span class="visitorsA">{{onsiteVisitorsWeek | number}}</span>
                                         </span>&nbsp;&nbsp;&nbsp;Total Visitors
                                       </div>
                                    </div>


                                    <div style="float:left; margin-right:20px;">
                                       <div class="totals">
                                         <span class="{{changeImage}}" style="padding-right:30px;">
                                           <span class="visitorsB">{{weeklyChange}}%&nbsp;&nbsp;&nbsp;</span>
                                           <span id="changeIcon" class="{{changeIcon}}"></span>
                                         </span>
                                       </div>
                                       <div style="margin-top:-3px; font-size:.75em">Compared to previous week</div>
                                    </div>


                                    <div style="float:left">
                                       <div class="totals">
                                         <span class="totalBorderB">
                                           <span class="visitorsA">{{averageVisitorsDay | number}}</span>
                                         </span>&nbsp;&nbsp;&nbsp;Average Visitors/Day
                                       </div>
                                    </div>

                                    <div style="clear: both"></div>
                                </div>



                                <div class="col-lg-6">
                                  <div class="row" style="margin-top:4px;">


                                    <div class="col-md-12 col-md-offset-4">


                                      <div class="cNewA">
                                        <div class="cNewB"></div>All Visitors
                                      </div>

                                      <div style="float:left">
                                        <div class="cAll"></div>New Visitors
                                      </div>


                                    </div>

                                  </div>
                                </div>



                              </div>



                               <div class="col-md-11 col-md-offset-1" style="margin-left:0px;">
                                  <div id="onsite_visitors_barchart_div"></div>
                               </div>
                           </div>
                      </div>







                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >
                              <h4>Time Breakdown <span class="locateSub">(Last Week)</span></h4>

                              <div class="totals">
                                <span class="totalBorderB">
                                  <span class="visitorsA">{{busiestHourDay}} {{mostVisitedHour}}</span>
                                </span>&nbsp;&nbsp;&nbsp;Busiest Hour (average)
                              </div>

                              <div class="row">
                                   <div class="col-md-11 col-md-offset-1" style="margin-left:0px;">
                                      <div id="onsite_timebreakdown_chart_div" style="width: 90%; height: 20%;"></div>
                                   </div>
                              </div>
                           </div>
                      </div>

                     <div class="panel panel-default graphPanel">
                       <div class="panel-body" >
                         <h4>Customer Loyalty <span class="locateSub">(Last Week)</span></h4>


                         <div class="row">
                           <div class="col-md-11 col-md-offset-1" style="margin-left:0px;">
                             <div id="onsite_loyalty_chart_div"></div>
                           </div>
                         </div>
                       </div>
                     </div>


                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >
                              <h4>Visit Duration <span class="locateSub">(Last Week)</span></h4>

                              <div class="totals">
                                <span class="totalBorderB">
                                  <span class="visitorsA">{{averageVisitDuration}} MIN</span>
                                </span>&nbsp;&nbsp;&nbsp;Average Visit Duration
                              </div>

                              <div class="row">
                                   <div class="col-md-11 col-md-offset-1" style="margin-left:0px;">
                                      <div id="onsite_visitor_chart_div"></div>
                                   </div>
                              </div>
                           </div>
                      </div>

                      <!--<div class="panel panel-default graphPanel">-->
                           <!--<div class="panel-body" >-->
                              <!--<h4>Top Visitors <span class="locateSub">(Last Week)</span></h4>-->
                              <!--<div id="visitors_div">-->

                                   <!--<div class="table-responsive tweetTable">-->
                                      <!--&lt;!&ndash; Table &ndash;&gt;-->
                                      <!--<table class="table-striped table table-panel">-->
                                          <!--<thead >-->
                                          <!--<tr>-->
                                             <!--<th>Customer</th>-->
                                             <!--<th>Postal Code</th>-->
                                             <!--<th>No. of Visits</th>-->
                                          <!--</tr>-->
                                          <!--</thead>-->

                                          <!--<div >-->
                                             <!--<div >-->
                                                   <!--<tr ng-repeat="visitor in topCustomers track by $index">-->
                                                       <!--<td class="customer">{{visitor.mac}}</td>-->
                                                       <!--<td>{{visitor.postalCode}}</td>-->
                                                       <!--<td>{{visitor.numVisits}}</td>-->
                                                   <!--</tr>-->
                                             <!--</div>-->

                                          <!--</div>-->

                                      <!--</table>-->

                                   <!--</div>-->
                              <!--</div>-->
                           <!--</div>-->
                      <!--</div>-->


           </tab>
           <!--END ON-SITE TAB-->

























           <!--////////////////////////////////////CARRIER DATA-->
           <tab onclick="Demographics.initialize();">
               <tab-heading><img alt="Network" src="assets/images/cell.png" class="icons" /> Network Data</tab-heading>


                    <div class="date">{{carrierDate}}</div>






                      <div id="miniTab" class="row">
                       <div class="col-md-6"></div>
                       <div class="col-md-6 pull-right">
                          <div class="filters_ct" ng-controller="selectCarrierFilter">
                              <ul class="boo" ng-repeat="filter in carrierfilters" ng-click="select($index)" ng-class="{active: $index===selectedIndex}">
                                 <li>
                                    <a href="" ng-click="filter.showLast30Days();filter.showLast60Days();filter.showLast90Days();">{{filter.time}}</a>
                                 </li>
                              </ul>
                              <!--<ul class="boo">
                                 <li>
                                    <a href="" ng-click="getCarrierDataPreGenReport(30)">Last 30 days</a>
                                 </li>
                                 <li>
                                    <a href="" ng-click="getCarrierDataPreGenReport(60)">Last 60 days</a>
                                 </li>
                                 <li>
                                    <a href="" ng-click="getCarrierDataPreGenReport(90)">Last 90 days</a>
                                 </li>
                              </ul>-->
                          </div>
                          <!--<tabset type="pills" class="ng-isolate-scope ng-scope">
                            <tab heading="Last Week" ng-click="showLast7Days()"></tab>
                            <tab heading="Last 4 Weeks" ng-click="showLast4Weeks()"></tab>
                            <tab heading="Last 8 Weeks" ng-click="showLast8Weeks()"></tab>
                            <tab heading="Last 3 Months" ng-click="showLast84days()"></tab>
                            <tab heading="Last 4 Months" ng-click="showLast112days()"></tab>
                        </tabset>-->
                       </div>
                     </div>









                      <div class="row">
                          <div class="col-md-6">

                                <div id="social-highlights-panel" style="position:relative; padding-bottom:10px;padding-top:0px;">

                                    <div ng-controller="AccordionDemoCtrl">

                                       <accordion close-others="oneAtATime">





                                         <accordion-group is-open="true" >
                                          <accordion-heading>
                                             <h4 style="font-size:20px; margin-bottom:0px;">Carrier Highlights at a Glance</h4>
                                             <!--<div style="display:block;margin-top:14px;">
                                               <span class="totalBorderA" style="padding-top:11px;border:1px solid #ccc">
                                                <a href="#"><i class="fa fa-angle-right" style="top:0px; font-size:1.35em;"></i>&nbsp;&nbsp;&nbsp;Social Highlights at a Glance</a>
                                               </span>
                                             </div>-->
                                          </accordion-heading>

                                          <div class="well well-lg highlightsPanel" style="margin-top:0px">

                                                <ul style="margin-bottom:0px;">
                                                  <li>Most Visitors in a Week: <span class="hLight">{{carrierUniqueVisitors}}</span> visitors <span class="hLight">{{onsiteWeek}}</span></li>
                                                  <li>Most Visitors in a Day: <span class="hLight">{{onsiteMostVisitedDayTotal}}</span> visitors on <span class="hLight">{{onsiteMostVisitedDay}}</span></li>
                                                  <li>Average Visit Duration: <span class="hLight">{{averageVisitDuration}}</span></li>
                                                </ul>
                                           </div>

                                         </accordion-group>

                                       </accordion>

                                    </div>

                                </div>
                          </div>




                          <!--<div class="col-md-3" style="text-align:right;">-->
                               <!--<br>-->
                               <!--&lt;!&ndash;<div ng-controller="DropdownCtrl">-->

                                   <!--<span dropdown on-toggle="toggled(open)">-->

                                     <!--<span class="totalBorderB" style="padding-top:7px;"><a href="#" href id="simple-dropdown" dropdown-toggle><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Custom Date</a></span>-->

                                     <!--<div class="dropdown-menu" aria-labelledby="simple-dropdown" style="padding:15px;">-->

                                          <!--<div ng-controller="DatepickerDemoCtrl">-->
                                                <!--<div class="row">-->
                                                  <!--<div class="col-md-12">-->
                                                      <!--<p class="input-group">-->
                                                        <!--<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->
                                                        <!--<span class="input-group-btn">-->
                                                          <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                                                        <!--</span>-->
                                                      <!--</p>-->
                                                  <!--</div>-->
                                                <!--</div>-->


                                                <!--<div class="row">-->
                                                  <!--<div class="col-md-12">-->
                                                      <!--<p class="input-group">-->
                                                        <!--<input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->
                                                        <!--<span class="input-group-btn">-->
                                                          <!--<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
                                                        <!--</span>-->
                                                      <!--</p>-->
                                                  <!--</div>-->
                                                <!--</div>-->
                                          <!--</div>-->

                                     <!--</div>-->

                                   <!--</span>-->

                               <!--</div>&ndash;&gt;-->
                            <!--</div>-->
                     </div>








                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >


                             <div class="row">
                                   <div class="col-md-12">
                                      <br>
                                      <h4>Visitors <span class="locateSub">(Last Week)</span></h4>
                                   </div>

                             </div>



                              <div class="row">
                                <div class="col-md-7">

                                    <div style="float:left; margin-right:20px;">
                                       <div class="totals">
                                         <span class="totalBorderB">
                                           <span class="visitorsA">{{carrierUniqueVisitors|number}}</span>
                                         </span>&nbsp;&nbsp;&nbsp;Total Visitors
                                       </div>
                                    </div>


                                    <div style="float:left; margin-right:20px;">
                                       <div class="totals">
                                         <span class="{{changeImage}}" style="padding-right:30px;">
                                           <span class="visitorsB">{{weeklyChange}}%&nbsp;&nbsp;&nbsp;</span>
                                           <span id="changeIcon" class="{{changeIcon}}"></span>
                                         </span>
                                       </div>
                                       <div style="margin-top:-3px; font-size:.75em">Compared to previous week</div>
                                    </div>


                                    <div style="float:left">
                                       <div class="totals">
                                         <span class="totalBorderB">
                                           <span class="visitorsA">{{carrierAverageVisitorsDay | number}}</span>
                                         </span>&nbsp;&nbsp;Average Visitors/Day
                                       </div>
                                    </div>

                                    <div style="clear: both"></div>
                                </div>



                                <div class="col-md-5">
                                  <div class="row" style="margin-top:4px;">


                                    <div class="col-md-12  col-md-offset-4">

                                      <div class="cNewA">
                                        <div class="cNewB"></div>All Visitors
                                      </div>


                                      <div style="float:left">
                                        <div class="cAll"></div>New Visitors
                                      </div>

                                      <div style="clear: both"></div>

                                    </div>

                                  </div>
                                </div>



                              </div>



                               <div class="col-md-11 col-md-offset-1" style="margin-left:0px;">
                                  <div id="carrier_visitors_barchart_div"></div>
                               </div>
                           </div>
                      </div>






                      <!-- This is the Household demographics section -->
                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >
                              <h4>Time Breakdown <span class="locateSub">(Last Week)</span></h4>

                              <div class="totals">
                                <span class="totalBorderB">
                                  <span class="visitorsA">{{busiestHourDay}} {{mostVisitedHour}}</span>
                                </span>&nbsp;&nbsp;&nbsp;Busiest Hour (average)
                              </div>

                              <div class="row">
                                   <div class="col-md-11 col-md-offset-1" style="margin-left:0px;">
                                      <div id="carrier_timebreakdown_chart_div"></div>
                                   </div>
                              </div>
                           </div>
                      </div>



                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >
                              <h4>Visit Duration <span class="locateSub">(Last Week)</span></h4>

                              <div class="totals">
                                <span class="totalBorderB">
                                  <span class="visitorsA">{{averageCarrierVisitDuration}} MIN</span>
                                </span>&nbsp;&nbsp;&nbsp;Average Visit Duration
                              </div>

                              <div class="row">
                                   <div class="col-md-11 col-md-offset-1" style="margin-left:0px;">
                                      <div id="carrier_visitor_chart_div"></div>
                                   </div>
                              </div>
                           </div>
                      </div>


                      <div class="panel panel-default graphPanel">
                       <div class="panel-body" >
                         <h4>Household Demographics</h4>

                         <div class="row">

                           <div class="col-md-6" id="col-md-6" style="margin-left:0px;">
                              <div class="totals" style="margin-bottom:40px;margin-top:10px;">
                                 <span class="totalBorderB" style="margin-bottom:10px;">
                                  <span class="visitorsA">{{mostPopularIncomeLevel}}</span>
                                 </span>
                                 <div style="margin-top:10px;margin-bottom:40px;">Most Popular Income Level</div>
                              </div>
                              <div id="demographic_income_chart_div" style="margin-top:10px;"></div>
                           </div>

                           <div class="col-md-6" id="col-md-6" style="margin-left:0px;">
                              <div class="totals" style="margin-bottom:40px;margin-top:10px;">
                                 <span class="totalBorderB" style="margin-bottom:10px;">
                                  <span class="visitorsA">{{mostPopularEthnicity}}</span>
                                 </span>
                                 <div style="margin-top:10px;margin-bottom:40px;">Most Popular Ethnic Group</div>
                              </div>
                              <div id="demographic_ethnicity_chart_div"></div>
                           </div>
                         </div>
                       </div>
                      </div>


                      <div class="col-md-12" >
                         <tabset justified="false">
                            <tab>
                               <tab-heading>Tile</tab-heading>

                                   <div id="googleMap" style="width:100%;height:380px;"></div>
                                     <table>
                                      <tr>
                                         <td>
                                           <div>
                                               <script type='text/javascript'>
                                                 function Main_Demographics_dorefresh() {
                                                 var zoom = parseFloat($("#Main_Demographics_zoom").val());
                                                      Demographics.drawMap(zoom);
                                                 }
                                              </script>
                                              Zoom:
                                              <select id="Main_Demographics_zoom" onchange="Main_Demographics_dorefresh();">
                                                 <option value="1" selected="selected">250 meters</option>
                                                 <option value="2">500 meters</option>
                                                 <option value="4">1 km</option>
                                                 <option value="20">5 km</option>
                                              </select>
                                           </div>
                                           <div>Tile color legend lowest to highest sample counts</div>
                                           <div>Mouse over tile to get actual count</div>
                                           <div>
                                             <table>
                                               <tr>
                                                 <td><div class="colorbox" style="background-color:yellow"></div></td>
                                                 <td><div class="colorbox" style="background-color:orange"></div></td>
                                                 <td><div class="colorbox" style="background-color:green"></div></td>
                                                 <td><div class="colorbox" style="background-color:blue"></div></td>
                                                 <td><div class="colorbox" style="background-color:red"></div></td>
                                               </tr>
                                             </table>
                                           </div>
                                         </td>
                                      </tr>
                                     </table>
                            </tab>
                            <tab ng-click="showHeatMapData()">
                               <tab-heading>Heat</tab-heading>
                                  <div id="map" style="height: 380px; width: 100%;"></div>
                                  <!--<script>-->
                                  <!--var map, pointarray, heatmap;-->
                                  <!--var callsForService = [];-->
                                  <!--var callsForService = {{callsForService}};-->

<!--//                                  new google.maps.LatLng(48.46566664567044, -81.33333333333333),-->
<!--//                                  new google.maps.LatLng(43.16871979915595, -79.27336276674025),-->
<!--//                                  new google.maps.LatLng(43.72886953235371, -79.79151336767231),-->
<!--//                                  new google.maps.LatLng(44.58039610909648, -79.86509688496443),-->
<!--//                                  new google.maps.LatLng(43.713122351099145, -79.60448859455482),-->
<!--//                                  new google.maps.LatLng(45.53090496801073, -73.5814625979758),-->
<!--//                                  new google.maps.LatLng(43.78061027076154, -79.26109884719156),-->
<!--//                                  new google.maps.LatLng(43.623138458215976, -79.57076281579593),-->
<!--//                                  new google.maps.LatLng(43.195714967020905, -79.56156487613441),-->
<!--//                                  new google.maps.LatLng(44.23620771881832, -76.5094432180525),-->
<!--//                                  new google.maps.LatLng(45.47241543763667, -73.54341374324633),-->
<!--//                                  new google.maps.LatLng(45.512908189434086, -73.55926743271694),-->
<!--//                                  new google.maps.LatLng(45.47241543763667, -73.60999923902291),-->
<!--//                                  new google.maps.LatLng(42.31944281973526, -82.93760028525584)-->
<!--//                                  ];-->
                                  <!--function initMap() {-->
                                     <!--var mapOptions = {-->
                                         <!--zoom: 6,-->
                                         <!--center: new google.maps.LatLng(43.710, -79.4),-->
                                         <!--mapTypeId: google.maps.MapTypeId.ROADMAP-->
                                     <!--};-->
                                     <!--map = new google.maps.Map(document.getElementById('map'),-->
                                         <!--mapOptions);-->

                                     <!--pointArray = new google.maps.MVCArray(callsForService);-->

                                     <!--heatmap = new google.maps.visualization.HeatmapLayer({-->
                                         <!--data: pointArray-->
                                     <!--});-->

                                     <!--heatmap.setMap(map);-->

                                  <!--}-->
                                  <!--initMap();-->
                                  <!--</script>-->
                            </tab>
                         </tabset>
                      </div>



           </tab>
           <!--END CARRIER TAB-->



          </tabset>
        </div>
        <!--TABS END-->







     </div>
     </div>
  </div>






<footer class="footer">
 <div class="container">
     <p style="color: #333 ">&copy; 2015 TELUS</p>
     <p style="color: #333 "><a href="/policy">Privacy Policy</a></p>
 </div>
</footer>





















<script type='text/javascript'>

   $('#searchbar').hide();
   $('#searchbar').fadeIn(800);

  function sliderHeight ()  {
      var wheight = $(window).height() - 425;
      $(".slide").height(wheight);
  }
  $(window).resize(function() {
      $(sliderHeight);
  });
  $(document).ready(function() {
      $(sliderHeight);
  });
</script>
