<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <!--///////////////////////////////////////////////////////////////////SEARCH-->
      <div id="searchbar">
        <div id="searchpanel" class="panel panel-default" style="margin-bottom:0px">
            <div class="container">
                <div class="row panel-body searchControl" style="padding-left:25px;padding-top:25px;padding-bottom:25px">

                    <div class="col-lg-1 searchTitle">
                        <span class="locationTitle">Location:</span>
                    </div>

                    <div class="dropdown col-lg-2 ">

                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Select a saved location
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="location in locations" role="presentation" ><a role="menuitem" tabindex="-1" data-target="#" ng-click="setSelectedLocation(location)">{{location.name}}</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <form role="search" ng-submit="showTweeters()">
                            <div class="input-group " >
                                <input type="text" class="form-control searchInput" aria-describedby="basic-addon2" placeholder="Enter a location" ng-model="searchString">
                                <span class="input-group-addon searchButton" id="basic-addon2" ng-click="showTweeters()" ><div class="searchtext">Search</div></span>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--SEARCH END-->
    </div>
</div>









<div class="slide" style="background-color:#ccc">
   <!--///////////////////////////////////////////////////////////////////MAP-->
   <div id="map-canvas">
     <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
         <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
         <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>
     </ui-gmap-google-map>
   </div>
   <!--MAP END-->
</div>







<!-- <div class="csliderup"><a href="#btm">More</a></div> -->


<!--<div class="clear" style="height:30px;"></div>-->

<!-- <div id="btm"></div> -->



















<!--///////////////////////////////////////////////////////////////////CONTENT AREA-->
<div id="contentArea" class="content" style="margin-top:60px;margin-bottom:60px;">
<div class="container">
  <div class="row">
        <div class="col-md-12">
          <div class="row ">
           <div class="col-md-10">
           </div>
           <div class="col-md-2">

              <span class="uts">
                <span><a href="#"><i class="fa fa-print"></i></a></span>
                <span><a href="#"><i class="fa fa-envelope"></i></a></span>
                <span><a href="#"><i class="fa fa-save"></i></a></span>
              </span>

           </div>
          </div>
        </div>


        <div class="col-md-12">
          <div class="row ">
              <div class="locationData" >
                 <h1 class="locationDataTitle" align="center">{{currentLocation.name}}</h1>
                 <span class="subTxt">{{currentLocation.address}}<br>
                 {{currentLocation.gps}}</span>
              </div>
          </div>
        </div>


        <p>&nbsp;</p>


        <!--///////////////////////////TABS-->
        <div class="col-md-12" >



           <!--/////////////////////////SOCIAL-->
           <tabset justified="true">
           <tab>
              <!--<tab-heading><i class="fa fa-users"></i> Social</tab-heading>-->
              <tab-heading><img alt="Social" src="assets/images/social.png" class="icons" />&nbsp;&nbsp;Social</tab-heading>

               <p>&nbsp;</p>

                 <div class="row">
                   <div class="col-md-8">

                      <tabset type="pills" class="ng-isolate-scope ng-scope">
                        <tab heading="Last 7 Days" ng-click="showLast7Days()"></tab>
                        <tab heading="Last 4 Weeks" ng-click="showLast4Weeks()"></tab>
                        <tab heading="Last 8 Weeks" ng-click="showLast8Weeks()"></tab>
                      </tabset>

                   </div>
                   <div class="col-md-4">
                       <span class="date">{{dateRange}}</span>
                   </div>
                 </div>


                 <p>&nbsp;</p>


                       <div class="panel panel-default" style="margin-top:50px;">
                          <div class="panel-body" >
                             <h4>Visitors <span class="locateSub">(within 1km)</span></h4>
                             <div class="totals">{{totalInteractions | number}}</div>
                             <div>Total Interactions</div>
                             <div class="row">
                                <div class="col-md-11 col-md-offset-1">
                                   <div id="barchart_div"></div>
                                </div>
                             </div>
                          </div>
                       </div>



                       <div class="panel panel-default">
                           <div class="panel-body">
                              <div class="row">
                                   <div class="col-md-4">
                                       <h4>Time Breakdown</h4>
                                   </div>
                                   <div class="col-md-3 col-md-offset-9 ">
                                       <div class="dateStyle"> {{dailyReportDate | lowercase}} </div>
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-md-11 col-md-offset-1">
                                       <div id="linechart_div"></div>
                                   </div>
                              </div>
                           </div>
                       </div>



                       <div class="row">
                          <div class="col-md-2 col-md-offset-10">
                             <button type="button" class="btn btn-success campaignButton">Create Campaign</button>
                          </div>
                       </div>

                       <br>

                       <div class="panel panel-default">
                           <div class="panel-body">
                                <h4>Top Nearby Users</h4>
                                <div id="tweeters_div">
                                    <div class="table-responsive tweetTable" style="height: 400px; overflow: scroll">
                                        <!-- Table -->
                                        <table class="table-striped table table-panel">
                                            <thead>
                                               <tr>
                                                   <th>#</th>
                                                   <th>Profile</th>
                                                   <th>Username</th>
                                                   <th>Bio</th>
                                                   <th>#Interactions</th>
                                                   <th>Followers</th>
                                               </tr>
                                            </thead>
                                            <tr ng-repeat="tweeter in tweeterResults track by $index">
                                               <td>{{$index+1}}</td>
                                               <td><img ng-src="{{tweeter.imageUrl}}"></td>
                                               <td>{{tweeter.name}}</td>
                                               <td>{{tweeter.description}}</td>
                                               <td>{{tweeter.tweets}}</td>
                                               <td>{{tweeter.followers}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                           </div>
                       </div>
           </tab>
           <!--END SOCIAL TAB-->



           <!--////////////////////////////////////ON-SITE DATA-->
           <tab>
               <tab-heading><img alt="Social" src="assets/images/network.png" class="icons" />&nbsp;&nbsp;On-site Data</tab-heading>

                      <p>&nbsp;</p>

                      <h4 style="margin-bottom:30px;margin-top:20px;">On-Site Highlights at a Glance</h4>


                      <div class="well well-lg highlightsPanel">
                           <ul>
                              <li>Most Visitors in a Week: <span class="hLight">{{onsiteVisitorsWeek | number}}</span> visitors <span class="hLight">{{onsiteWeek}}</span></li>
                              <li>Most Visitors in a Day: <span class="hLight">{{onsiteMostVisitedDayTotal | number}}</span> visitors on <span class="hLight">{{onsiteMostVisitedDay}}</span></li>
                              <li>Average Visit Duration: <span class="hLight">{{averageVisitDuration}}</span></li>
                              <li>Most Frequent Visitor: Customer <span class="hLight">{{mostFrequentCustomer}}</span>, postal code <span class="hLight">{{mostPostalCode}}</span> (<span class="hLight">{{mostFrequentCustomerVisits}}</span> visits to date)</li>
                           </ul>
                      </div>

                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >
                              <h4>Visitors <span class="locateSub">(Last Week)</span></h4>

                              <div class="row">
                                   <div class="col-md-2 ">
                                      <div class="totals"><span class="visitors">{{onsiteVisitorsWeek | number}}</span></div>
                                      <div>Total Visitors</div>
                                   </div>
                                   <div class="col-md-3 verticalLine">
                                      <div class="totals"><span class="visitors">{{weeklyChange}}%</span> <span id="changeIcon" class="{{changeIcon}}"> </span></div>
                                      <div>Compared to previous week</div>
                                   </div>
                                   <div class="col-md-2 verticalLine">
                                      <div class="totals"><span class="visitors">{{averageVisitorsDay | number}}</span></div>
                                      <div>Average Visitors/Day</div>
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-md-11 col-md-offset-1">
                                      <div id="onsite_visitors_barchart_div" ></div>
                                   </div>
                              </div>
                           </div>
                      </div>

                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >
                              <h4>Time Breakdown <span class="locateSub">(Last Week)</span></h4>
                              <div class="totals">{{busiestHourDay}} {{mostVisitedHour}}</div>
                              <div>Busiest Hour (average)</div>
                              <div class="row">
                                   <div class="col-md-11 col-md-offset-1">
                                      <div id="onsite_timebreakdown_chart_div" ></div>
                                   </div>
                              </div>
                           </div>
                      </div>

                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >
                              <h4>Visit Duration <span class="locateSub">(Last Week)</span></h4>
                              <div class="totals">{{averageVisitDuration}} MIN</div>
                              <div>Average Visit Duration</div>
                              <div class="row">
                                   <div class="col-md-11 col-md-offset-1">
                                      <div id="onsite_visitor_chart_div" ></div>
                                   </div>
                              </div>
                           </div>
                      </div>

                      <div class="panel panel-default graphPanel">
                           <div class="panel-body" >
                              <h4>Top Visitors (Last Week)</h4>
                              <div id="visitors_div">

                                   <div class="table-responsive tweetTable">
                                      <!-- Table -->
                                      <table class="table-striped table table-panel">
                                          <thead >
                                          <tr>
                                             <th>Customer</th>
                                             <th>Postal Code</th>
                                             <th>No. of Visits</th>
                                          </tr>
                                          </thead>

                                          <div >
                                             <div >
                                                   <tr ng-repeat="visitor in topCustomers track by $index">
                                                       <td class="customer">{{visitor.mac}}</td>
                                                       <td>{{visitor.postalCode}}</td>
                                                       <td>{{visitor.numVisits}}</td>
                                                   </tr>
                                             </div>

                                          </div>

                                      </table>

                                   </div>
                              </div>
                           </div>
                      </div>


           </tab>
           <!--END ON-SITE TAB-->


           <!--////////////////////////////////////NETWORK DATA-->
           <tab>
               <tab-heading><img alt="Social" src="assets/images/cell.png" class="icons" />&nbsp;&nbsp;Network Data</tab-heading>

               <p>&nbsp;</p>

               <h4 style="margin-bottom:30px;margin-top:20px;">Network Data Highlights at a Glance</h4>





               <div class="well well-lg highlightsPanel">
                    <ul>
                       <li>Most Visitors in a Week: <span class="hLight">{{networkVisitorsWeek}}</span> visitors <span class="hLight">{{networkWeek}}</span></li>
                       <li>Most Visitors in a Day: <span class="hLight">{{networkMostVisitedDayTotal}}</span> visitors on <span class="hLight">{{networkMostVisitedDay}}</span></li>
                       <li>Average Visit Duration: <span class="hLight">{{networkaverageVisitDuration}}</span></li>
                       <li>Most Frequent Visitor: Customer <span class="hLight">{{networkmostFrequentCustomer}}</span>, postal code <span class="hLight">{{networkmostPostalCode}}</span> (<span class="hLight">{{networkmostFrequentCustomerVisits}}</span> visits to date)</li>
                    </ul>
               </div>




               <div class="panel panel-default graphPanel">
                    <div class="panel-body" >
                       <h4>Visitors <span class="locateSub">(Last Week)</span></h4>
                       <div class="row">
                            <div class="col-md-2 ">
                               <div class="totals"><span class="visitors">{{networkVisitorsWeek}}</span></div>
                               <div>Total Visitors</div>
                            </div>
                            <div class="col-md-3 verticalLine">
                               <div class="totals"><span class="visitors">{{networkweeklyChange}}%</span> <span id="changeIcon" class="{{changeIcon}}"> </span></div>
                               <div>Compared to previous week</div>
                            </div>
                            <div class="col-md-2 verticalLine">
                               <div class="totals"><span class="visitors">{{networkaverageVisitorsDay}}</span></div>
                               <div>Average Visitors/Day</div>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                               <div id="network_visitors_barchart_div" ></div>
                            </div>
                       </div>
                    </div>
               </div>






               <div class="panel panel-default graphPanel">
                    <div class="panel-body" >
                       <h4>Time Breakdown <span class="locateSub">(Last Week)</span></h4>
                       <div class="totals">{{networkbusiestHourDay}} {{networkmostVisitedHour}}</div>
                       <div>Busiest Hour (average)</div>
                       <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                               <div id="network_timebreakdown_chart_div" ></div>
                            </div>
                       </div>
                    </div>
               </div>






               <div class="panel panel-default graphPanel">
                    <div class="panel-body" >
                       <h4>Visit Duration <span class="locateSub">(Last Week)</span></h4>
                       <div class="totals">{{networkaverageVisitDuration}} MIN</div>
                       <div>Average Visit Duration</div>
                       <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                               <div id="network_visitor_chart_div" ></div>
                            </div>
                       </div>
                    </div>
               </div>







               <div class="panel panel-default graphPanel">
                    <div class="panel-body">
                       <div class="row">
                            <div class="col-md-6 ">
                               <h4>Household Income <span class="locateSub">(Last Week)</span></h4>
                               <div>Coming Soon</div>
                            </div>
                            <div class="col-md-6">
                               <h4>Ethnic Composition <span class="locateSub">(Last Week)</span></h4>
                               <div>Coming Soon</div>
                            </div>
                       </div>
                    </div>
               </div>







               <div class="panel panel-default graphPanel">
                    <div class="panel-body">
                       <div class="row">
                            <div class="col-md-6 ">
                               <h4>Visitor Home Distribution <span class="locateSub">(Last Week)</span></h4>
                               <div>Coming Soon</div>
                            </div>
                       </div>
                    </div>
               </div>







               <div class="panel panel-default graphPanel">
                    <div class="panel-body" >
                       <h4>Top Visitors <span class="locateSub">(Last Week)</span></h4>
                       <div id="visitors_div">

                            <div class="table-responsive tweetTable">
                               <!-- Table -->
                               <table class="table-striped table table-panel">
                                   <thead >
                                   <tr>
                                      <th>Customer</th>
                                      <th>Postal Code</th>
                                      <th>No. of Visits</th>
                                   </tr>
                                   </thead>

                                   <div >
                                      <div >
                                            <tr ng-repeat="visitor in topCustomers track by $index">
                                                <td class="customer">{{visitor.mac}}</td>
                                                <td>{{visitor.postalCode}}</td>
                                                <td>{{visitor.numVisits}}</td>
                                            </tr>
                                      </div>

                                   </div>

                               </table>

                            </div>
                       </div>
                    </div>
               </div>





           </tab>



          </tabset>
        </div>
        <!--TABS END-->









     </div>
     </div>
  </div>






<footer class="footer">
 <div class="container">
     <p>&copy; 2015 Telus Hyper-local Analytics</p>
 </div>
</footer>























<script type='text/javascript'>
  function sliderHeight ()  {
      var wheight = $(window).height();
      $(".slide").height(wheight)
  }
  $(window).resize(function() {
      $(sliderHeight);
  });
  $(document).ready(function() {
      $(sliderHeight);
  });
</script>
