<div ng-include="'components/navbar/navbar.html'"></div>



<div class="container">
  <div class="row">








    <!--///////////////////////////////////////////////////////////////////SEARCH-->
    <div  id="searchbar" class="col-md-12 vertical-center">
        <div id="searchpanel" class="panel panel-default" style="margin-bottom:0px">
            <div class="container">
                <div class="row panel-body searchControl">

                    <div class="col-md-1 searchTitle">
                        Location:
                    </div>

                    <div class="dropdown col-md-2 ">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            Select a saved location
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="location in locations" role="presentation" ><a role="menuitem" tabindex="-1" data-target="#" ng-click="setSelectedLocation(location)">{{location.title}}</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <form role="search" ng-submit="showTweeters()">
                            <div class="input-group " >
                                <input type="text" class="form-control searchInput" aria-describedby="basic-addon2" placeholder="Enter a location" ng-model="searchString">
                                <span class="input-group-addon searchButton" id="basic-addon2" ng-click="showTweeters()" ><div class="searchtext">   Search </div>  </span>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--SEARCH END-->







    <!--///////////////////////////////////////////////////////////////////MAP-->
    <div id="map-canvas" class="col-md-12">
      <div ng-controller="AccordionDemoCtrl">
        <accordion close-others="oneAtATime">

          <accordion-group heading="Map" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">

            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
                <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable" control="c.control"></ui-gmap-circle>
            </ui-gmap-google-map>

          </accordion-group>

        </accordion>
      </div>
    </div>
    <!--MAP END-->







  <!--///////////////////////////////////////////////////////////////////CONTENT AREA-->
      <div id="contentArea" class="content">
         <div class="col-md-12">
           <div class="row ">
             <div class="col-md-4">
               <div class="locationData" >
                  <h2 class="locationDataTitle">{{currentLocation.title}}</h2>
                  <p>{{currentLocation.address}}<br>
                  {{currentLocation.gps}}</p>
               </div>
             </div>
             <div class="col-md-4 col-md-offset-4 ">
               <button type="button" class="btn btn-default reportButton">Print Report</button>
               <button type="button" class="btn btn-default reportButton">Email Report</button>
               <button type="button" class="btn btn-default reportButton">Save Report</button>
             </div>
           </div>
         </div>


         <p>&nbsp;</p>


         <!--///////////////////////////TABS-->
         <div class="col-md-12" >
           <tabset justified="true">
             <!--/////////////////////////SOCIAL-->
             <tab heading="Social">


                <p>&nbsp;</p>


                  <div class="row">
                    <div class="col-md-6">

                       <tabset type="pills" class="ng-isolate-scope ng-scope">
                         <tab heading="Last 7 Days" ng-click="showLast7Days()"></tab>
                         <tab heading="Last 4 Weeks" ng-click="showLast4Weeks()"></tab>
                         <tab heading="Last 8 Weeks" ng-click="showLast8Weeks()"></tab>
                       </tabset>

                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <h4>{{dateRange}}</h4>
                    </div>
                  </div>


                  <p>&nbsp;</p>


                        <div class="panel panel-default">
                           <div class="panel-body" >
                              <h4>Social Interactions (within 1km)</h4>
                              <div class="totals">{{totalInteractions}}</div>
                              <div>Total Interactions</div>
                              <div class="row">
                                 <div class="col-md-11 col-md-offset-1">
                                    <div id="barchart_div"></div>
                                 </div>
                              </div>
                           </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Time Breakdown</h4>
                                    </div>
                                    <div class="col-md-4 col-md-offset-8 ">
                                        <div class="dateStyle"> {{dailyReportDate}} </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                        <div id="linechart_div"></div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                             <div class="panel-body">
                                 <h4>Top Nearby Users</h4>
                                 <div id="tweeters_div">
                                     <div class="table-responsive tweetTable">
                                         <!-- Table -->
                                         <table class="table-striped table table-panel">
                                             <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Profile</th>
                                                    <th>Username</th>
                                                    <th>Bio</th>
                                                    <th>#Interactions</th>
                                                    <th>Followers</th>
                                                </tr>
                                             </thead>
                                               <tr ng-repeat="tweeter in tweeterResults track by $index">
                                                   <td>{{$index+1}}</td>
                                                   <td><img ng-src="{{tweeter.imageUrl}}"></td>
                                                   <td>{{tweeter.name}}</td>
                                                   <td>{{tweeter.description}}</td>
                                                   <td>{{tweeter.tweets}}</td>
                                                   <td>{{tweeter.followers}}</td>
                                               </tr>
                                         </table>
                                     </div>
                                 </div>
                             </div>
                        </div>

             </tab>
             <!--END SOCIAL TAB-->



             <!--////////////////////////////////////ON-SITE DATA-->
             <tab heading="On-site Data">






                       <h4>On-Site Highlights at a Glance</h4>
                       <div class="well well-lg highlightsPanel">
                            <ul>
                                <li>Most Visitors in a Week: {{onsiteVisitorsWeek}} visitors {{onsiteWeek}}</li>
                                <li>Most Visitors in a Day: {{onsiteMostVisitedDayTotal}} visitors on {{onsiteMostVisitedDay}}</li>
                                <li>Average Visit Duration: {{averageVisitDuration}}.</li>
                                <li>Most Frequent Visitor: Customer {{mostFrequentCustomer}}, postal code {{mostPostalCode}} ({{mostFrequentCustomerVisits}} visits to date)</li>
                            </ul>
                       </div>

                       <div class="panel panel-default graphPanel">
                            <div class="panel-body" >
                                <h4>Visitors (Last Week)</h4>

                                <div class="row">
                                    <div class="col-md-2 ">
                                       <div class="totals">{{onsiteVisitorsWeek}}</div>
                                       <div>Total Visitors</div>
                                    </div>
                                    <div class="col-md-3 verticalLine">
                                       <div class="totals">{{weeklyChange}}% <span id="changeIcon" class="{{changeIcon}}"> </span></div>
                                       <div>Compared to previous week</div>
                                    </div>
                                    <div class="col-md-2 verticalLine">
                                       <div class="totals">{{averageVisitorsDay}}</div>
                                       <div>Average Visitors/Day</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                       <div id="onsite_visitors_barchart_div" ></div>
                                    </div>
                                </div>
                            </div>
                       </div>

                       <div class="panel panel-default graphPanel">
                            <div class="panel-body" >
                                <h4>Time Breakdown (Last Week)</h4>
                                <div class="totals">{{busiestHourDay}} {{mostVisitedHour}}</div>
                                <div>Busiest Hour (average)</div>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                       <div id="onsite_timebreakdown_chart_div" ></div>
                                    </div>
                                </div>
                            </div>
                       </div>

                       <div class="panel panel-default graphPanel">
                            <div class="panel-body" >
                                <h4>Visit Duration (Last Week)</h4>
                                <div class="totals">{{averageVisitDuration}} MIN</div>
                                <div>Average Visit Duration</div>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                       <div id="onsite_visitor_chart_div" ></div>
                                    </div>
                                </div>
                            </div>
                       </div>

                       <div class="panel panel-default graphPanel">
                            <div class="panel-body" >
                                <h4>Top Visitors (Last Week)</h4>
                                <div id="visitors_div">

                                    <div class="table-responsive tweetTable">
                                       <!-- Table -->
                                       <table class="table-striped table table-panel">
                                           <thead >
                                           <tr>
                                              <th>Customer</th>
                                              <th>Postal Code</th>
                                              <th>No. of Visits</th>
                                           </tr>
                                           </thead>

                                           <div >
                                              <div >
                                                    <tr ng-repeat="visitor in topCustomers track by $index">
                                                        <td class="customer">{{visitor.mac}}</td>
                                                        <td>{{visitor.postalCode}}</td>
                                                        <td>{{visitor.numVisits}}</td>
                                                    </tr>
                                              </div>

                                           </div>

                                       </table>

                                    </div>
                                </div>
                            </div>
                       </div>


             </tab>
             <!--END ON-SITE TAB-->


             <!--////////////////////////////////////NETWORK DATA-->
             <tab heading="Network Data">
               <p>Coming Soon</p>
             </tab>



           </tabset>
         </div>
         <!--TABS END-->









      </div>
      </div>
   </div>

<footer class="footer">
  <div class="container">
      <p><a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
